extends layout

block body
  .row
      .large-12.columns
        .panel
          h1 Feed Template
    .row
      .large-3.columns
        .panel
          a(href='#')
            img(src='http://placehold.it/300x240&text=[img]')
          h5
            a(href='#') Your Name
          .section-container.vertical-nav(data-section='', data-options='deep_linking: false; one_up: true')
            section.section
              h5.title
                a(href='#') Section 1
            section.section
              h5.title
                a(href='#') Section 2
            section.section
              h5.title
                a(href='#') Section 3
            section.section
              h5.title
                a(href='#') Section 4
            section.section
              h5.title
                a(href='#') Section 5
            section.section
              h5.title
                a(href='#') Section 6
      .large-6.columns
        .row
          .large-2.columns.small-3
            img(src='http://placehold.it/80x80&text=[img]')
          .large-10.columns
            p
              strong Some Person said:
              |  Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            ul.inline-list
              li
                a(href='') Reply
              li
                a(href='') Share
            h6 2 Comments
            .row
              .large-2.columns.small-3
                img(src='http://placehold.it/50x50&text=[img]')
              .large-10.columns
                p
                  | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
            .row
              .large-2.columns.small-3
                img(src='http://placehold.it/50x50&text=[img]')
              .large-10.columns
                p
                  | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
        hr
        .row
          .large-2.columns.small-3
            img(src='http://placehold.it/80x80&text=[img]')
          .large-10.columns
            p
              strong Some Person said:
              |  Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            ul.inline-list
              li
                a(href='') Reply
              li
                a(href='') Share
        hr
        .row
          .large-2.columns.small-3
            img(src='http://placehold.it/80x80&text=[img]')
          .large-10.columns
            p
              strong Some Person said:
              |  Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong.
            ul.inline-list
              li
                a(href='') Reply
              li
                a(href='') Share
            h6 2 Comments
            .row
              .large-2.columns.small-3
                img(src='http://placehold.it/50x50&text=[img]')
              .large-10.columns
                p
                  | Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit
      aside.large-3.columns.hide-for-small
        p
          img(src='http://placehold.it/300x440&text=[ad]')
        p
          img(src='http://placehold.it/300x440&text=[ad]')
    footer.row
      .large-12.columns
        hr
        .row
          .large-5.columns
            p &copy; Copyright no one at all. Go to town.
          .large-7.columns
            ul.inline-list.right
              li
                a(href='#') Section 1
              li
                a(href='#') Section 2
              li
                a(href='#') Section 3
              li
                a(href='#') Section 4
              li
                a(href='#') Section 5
              li
                a(href='#') Section 6
    script.
      $(document).foundation();
    
